*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body{
  padding: 0px 15px;
  height:100vh;
  font-family:'Lato', sans-serif ;
  background: #141414;
}
h1{
  padding-top: 15px;
  text-align: center;
  color: #ffff;
  
}

.formulaire{
  height: 200px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  
}
textarea{
  width:300px;
  height:100px;
  padding: 10px;
  outline: none;
}
form{
  display: flex;
  flex-direction: column;
}
button{
  margin-top: 10px;
  padding:5px;
  border: solid 1px #f2f1f1;
  opacity: 0.7;
  cursor: pointer;
  background: #141414;
  color: white;
  transition: all 0.3s; 
}
button:hover{
  color : #ffff;
  border: solid 1px #ffff;
  opacity: 1;
}
#parent{
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  transition: 0.5s;
}
.todo{
  position:relative;
  color:white;
  font-weight: 600;
  display: flex;
  margin-top: 30px;
  height:80px;
  min-width:300px;
  margin-top: 40px; 
  border: solid 1px #d1e56c;
  animation : appear 0.3s ease;
  cursor: pointer;
}
.todo:hover{
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.btnDelete{
  position:absolute;
  top: 0px;
  right:10px;
  font-size: 16px;
  border: none;
  padding: 0;
  transform: rotate(45deg);
  
}

.btnDelete:hover{
  border:none;
  color:#e50914; 
}


p{
  padding: 10px;
}

@keyframes appear{
  from{
    opacity: 0;
    transform: translateX(-50%);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
